RewriteEngine On

RewriteRule ^(css|fa|fonts|js|storage|app|image)($|/) - [L]
RewriteRule ^error/(.*?)$ pages/error/$1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} ^(.*)$

RewriteRule ^([^/]+)$ index.php?bag=$1 [L,QSA]
# RewriteRule ^([^/]+)/([^/]+)$ index.php?role=$1&bag=$2 [L]
# RewriteRule ^([^/]+)/(.*)$ index.php?role=$1&bag=$2 [L]
RewriteRule ^([^/]+)/(.*)$ index.php?role=$1&bag=$2 [L,QSA]